#Environmental variables
.env
composer.lock
front_end/openVRE/config/globals.inc.php
front_end/openVRE/config/*.conf

#Vault configuration and secret dirs
vault/config/public-key.pem
vault/file/*
vault/logs/*

#Front-end
vendor/

#Volumes environment
volumes/
#Others
docker-compose-pre.yml
key
