.env
composer.lock
front_end/openVRE/config/globals.inc.php
front_end/openVRE/config/*.conf
front_end/openVRE/public/assets/global/plugins/*
vault/config/public-key.pem
vault/file/*
vault/config/jwt-user-policies.hcl
vendor/
volumes/
*.crt
*.key
*.pem
.jwks
