:root {
  --color-primary: #085176;
  --color-secondary: #007399;
  --color-primary-bg: #eef1f5;
  --color-surface: #ffffff;
  --color-text: #1f2937;
  --color-text-muted: #6b7280;
  --color-border: #c2cad8;
  --color-danger: #dc2626;
  --color-warning-bg: #f9e491;
  --color-warning-text: #c29d0b;
}
