/* Spacing and width for .filterByTool are set in WorkspaceFileTable.css */

.filterByToolIcon {
  height: var(--size-icon-xs);
  width: var(--size-icon-xs);
  fill: var(--color-surface);
  stroke: none;
}
